# Backend dependencies
Multi-Vendor Service Marketplace Platform/backend/node_modules/

# Environment variables
Multi-Vendor Service Marketplace Platform/backend/.env

# Logs
*.log

# Build files
dist/
build/